.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.input-block input {
    display: block;
    font-size: 20px;
    padding: 10px;
    width: 700px;
    margin-bottom: 15px;
    color: gray;
    border: 2px solid gray
}

.input-block label {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .input-block input {
        width: 400px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .input-block input {
        width: 250px;
        margin-bottom: 30px;
        font-size: 16px;
    }
}