@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}

.chart-container {
    display: flex;
    justify-content: center;
}

.chart-block {
    max-width: 900px;
    width: 100%;
}

@media screen and (max-width: 600) {
    .chart-block {
        width: 60%;
    }
}